openapi: 3.1.0
info:
  contact:
    email: info@geosearch.dev
    name: GeoSearch Support
  description: |
    Geographic data REST API — modern replacement for GeoNames.

    Serves countries, regions, cities, postal codes, and timezones
    through a fast, well-documented JSON API with cursor-based pagination and field selection.

    ## Authentication
    All endpoints (except health check) require an API key passed via the `X-API-Key` header.

    ## Rate Limiting
    Two independent limits apply to every authenticated request: a per-second
    throttle and a monthly quota. They fail with different error codes because
    they call for different client behaviour — `rate_limit_exceeded` means back
    off for a moment, `quota_exceeded` means the plan's monthly allowance is
    exhausted until the period resets.

    Responses include rate limit headers:
    - `X-RateLimit-Limit` — requests per second allowed
    - `X-RateLimit-Remaining` — requests remaining in current window
    - `X-RateLimit-Reset` — **Unix epoch second** at which the applicable limit
      resets. This is an absolute timestamp, not a duration. On a
      `quota_exceeded` response it carries the end of the monthly quota period
      rather than the next second boundary.
    - `X-Monthly-RateLimit-Limit` — monthly quota
    - `X-Monthly-RateLimit-Remaining` — monthly requests remaining
    - `X-RateLimit-Upgrade` — advisory message, present only once monthly usage
      passes 80% of the plan's quota
    - `Retry-After` — seconds to wait before retrying. Present on both 429s and
      the unambiguous duration; prefer it over deriving one from
      `X-RateLimit-Reset`.

    ## Pagination
    List endpoints use cursor-based pagination with `cursor` and `limit` parameters.
    Maximum limit is 100. Responses include pagination metadata in the `meta` object.

    ## Field Selection
    Use `?fields=name,population` on any endpoint to receive only the specified fields.
  license:
    name: MIT
  title: GeoSearch
  version: 1.3.3
servers:
- url: https://geosearch.dev
security:
- apiKeyAuth: []
tags:
- description: API health and status
  name: Health
- description: Country data and regions within countries
  name: Countries
- description: Administrative regions/states/provinces
  name: Regions
- description: City data with geographic coordinates
  name: Cities
- description: Postal/ZIP codes with nearest-neighbor search
  name: Postal Codes
- description: IANA timezone data
  name: Timezones
- description: Cross-type fuzzy text search
  name: Search
- description: "Boundary polygons as GeoJSON. Charges 5 quota units per served polygon;\
    \ region boundaries require a paid plan, country boundaries do not."
  name: Boundaries
- description: Batch lookup endpoints for multiple entities in a single request
  name: Batch
paths:
  /v1/status:
    get:
      description: Returns the API health status and database connectivity. No authentication
        required.
      operationId: getStatus
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  status: healthy
                  database: connected
              schema:
                $ref: "#/components/schemas/getStatus_200_response"
          description: API status
      security: []
      summary: Health check
      tags:
      - Health
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          # /v1/status needs no API key; every other endpoint requires -H "X-API-Key: YOUR_KEY"
          curl https://geosearch.dev/v1/status
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          status, _, err := client.HealthAPI.GetStatus(ctx).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              status = geosearch.HealthApi(client).get_status().data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, HealthApi } from "@geosearch/client";

          const api = new HealthApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const status = (await api.getStatus()).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          status = GeoSearch::HealthApi.new.get_status.data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $status = (new GeoSearch\Api\HealthApi(null, $cfg))->getStatus()->getData();
  /v1/countries:
    get:
      description: Returns a paginated list of countries with optional filtering and
        sorting.
      operationId: listCountries
      parameters:
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/continent"
      - description: Filter by ISO alpha-2 codes (comma-separated)
        example: "US,CA,GB"
        explode: true
        in: query
        name: iso_code
        required: false
        schema:
          type: string
        style: form
      - $ref: "#/components/parameters/population_min"
      - $ref: "#/components/parameters/population_max"
      - $ref: "#/components/parameters/cursor"
      - $ref: "#/components/parameters/limit"
      - $ref: "#/components/parameters/fields"
      - description: "Sort field and direction. Allowed: name, population, area_sq_km.\
          \ Prefix with - for descending."
        example: -population
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 1
                  iso_code: US
                  iso3_code: USA
                  name: United States
                  capital: Washington
                  population: 331002651
                  continent_code: NA
                  flag_emoji: 🇺🇸
                meta:
                  next_cursor: eyJpZCI6MjV9
                  has_next: true
                  has_prev: false
                  count: 25
              schema:
                $ref: "#/components/schemas/CountryListResponse"
          description: List of countries
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: List countries
      tags:
      - Countries
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/countries?continent=EU&limit=10"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          countries, _, err := client.CountriesAPI.ListCountries(ctx).Continent("EU").Limit(10).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              countries = geosearch.CountriesApi(client).list_countries(continent="EU", limit=10).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, CountriesApi } from "@geosearch/client";

          const api = new CountriesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const countries = (await api.listCountries({ continent: "EU", limit: 10 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          countries = GeoSearch::CountriesApi.new.list_countries(continent: "EU", limit: 10).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $countries = (new GeoSearch\Api\CountriesApi(null, $cfg))->listCountries(null, "EU");
          // lang, continent shown — the remaining 7 parameters are positional and optional
  /v1/countries/{code}:
    get:
      description: Returns a single country by its ISO alpha-2 code.
      operationId: getCountry
      parameters:
      - description: ISO alpha-2 country code
        example: US
        explode: false
        in: path
        name: code
        required: true
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/fields"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountrySingleResponse"
          description: Country details
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Get country by ISO code
      tags:
      - Countries
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" https://geosearch.dev/v1/countries/US
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          country, _, err := client.CountriesAPI.GetCountry(ctx, "US").Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              country = geosearch.CountriesApi(client).get_country("US").data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, CountriesApi } from "@geosearch/client";

          const api = new CountriesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const country = (await api.getCountry({ code: "US" })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          country = GeoSearch::CountriesApi.new.get_country("US").data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $country = (new GeoSearch\Api\CountriesApi(null, $cfg))->getCountry("US")->getData();
  /v1/countries/{code}/regions:
    get:
      description: Returns a paginated list of regions (administrative divisions)
        within a country.
      operationId: listCountryRegions
      parameters:
      - description: ISO alpha-2 country code
        example: US
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/cursor"
      - $ref: "#/components/parameters/limit"
      - $ref: "#/components/parameters/fields"
      - description: "Sort field. Allowed: name, population."
        example: name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionListResponse"
          description: List of regions
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: List regions in a country
      tags:
      - Countries
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" https://geosearch.dev/v1/countries/US/regions
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          regions, _, err := client.CountriesAPI.ListCountryRegions(ctx, "US").Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              regions = geosearch.CountriesApi(client).list_country_regions("US").data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, CountriesApi } from "@geosearch/client";

          const api = new CountriesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const regions = (await api.listCountryRegions({ code: "US" })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          regions = GeoSearch::CountriesApi.new.list_country_regions("US").data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $regions = (new GeoSearch\Api\CountriesApi(null, $cfg))->listCountryRegions("US")->getData();
  /v1/regions:
    get:
      description: "Returns a paginated list of regions with optional filtering by\
        \ country, level, and population."
      operationId: listRegions
      parameters:
      - $ref: "#/components/parameters/lang"
      - description: Filter by ISO alpha-2 country code
        example: US
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Filter by administrative level
        example: 1
        explode: true
        in: query
        name: level
        required: false
        schema:
          type: integer
        style: form
      - $ref: "#/components/parameters/population_min"
      - $ref: "#/components/parameters/population_max"
      - $ref: "#/components/parameters/cursor"
      - $ref: "#/components/parameters/limit"
      - $ref: "#/components/parameters/fields"
      - description: "Sort field. Allowed: name, population."
        example: -population
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionListResponse"
          description: List of regions
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: List regions
      tags:
      - Regions
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/regions?country=US&sort=-population"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          regions, _, err := client.RegionsAPI.ListRegions(ctx).Country("US").Sort("-population").Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              regions = geosearch.RegionsApi(client).list_regions(country="US", sort="-population").data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, RegionsApi } from "@geosearch/client";

          const api = new RegionsApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const regions = (await api.listRegions({ country: "US", sort: "-population" })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          regions = GeoSearch::RegionsApi.new.list_regions(country: "US", sort: "-population").data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $regions = (new GeoSearch\Api\RegionsApi(null, $cfg))->listRegions(null, "US");
          // lang, country shown — the remaining 7 parameters are positional and optional
  /v1/regions/{id}:
    get:
      description: Returns a single region by its numeric ID.
      operationId: getRegion
      parameters:
      - description: Region ID
        example: 5332921
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/fields"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionSingleResponse"
          description: Region details
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Get region by ID
      tags:
      - Regions
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" https://geosearch.dev/v1/regions/5332921
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          region, _, err := client.RegionsAPI.GetRegion(ctx, 5332921).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              region = geosearch.RegionsApi(client).get_region(5332921).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, RegionsApi } from "@geosearch/client";

          const api = new RegionsApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const region = (await api.getRegion({ id: 5332921 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          region = GeoSearch::RegionsApi.new.get_region(5332921).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $region = (new GeoSearch\Api\RegionsApi(null, $cfg))->getRegion(5332921)->getData();
  /v1/regions/{id}/cities:
    get:
      description: |-
        Returns a paginated list of cities within a specific region.

        THIS ENDPOINT AND `/v1/cities?within=` ANSWER DIFFERENT QUESTIONS AND WILL SOMETIMES RETURN DIFFERENT CITIES FOR THE SAME REGION. That is intended, not a bug. This endpoint answers the ADMINISTRATIVE question — which cities are assigned to this region by GeoNames' own admin codes — while `?within=` answers the GEOMETRIC one, which cities fall inside the region's polygon. The two disagree wherever an enclave, an exclave or a blank admin code puts a city's assignment at odds with its location.

        Use this endpoint when you want the official assignment; use `/v1/cities?within=` when you want what is physically inside the boundary. This one is charged at the standard 1 unit; `?within=` costs 2.
      operationId: listRegionCities
      parameters:
      - description: Region ID
        example: 5332921
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/cursor"
      - $ref: "#/components/parameters/limit"
      - $ref: "#/components/parameters/fields"
      - description: "Sort field. Allowed: name, population."
        example: -population
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CityListResponse"
          description: List of cities
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: List cities in a region
      tags:
      - Regions
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" https://geosearch.dev/v1/regions/5332921/cities
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          cities, _, err := client.RegionsAPI.ListRegionCities(ctx, 5332921).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              cities = geosearch.RegionsApi(client).list_region_cities(5332921).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, RegionsApi } from "@geosearch/client";

          const api = new RegionsApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const cities = (await api.listRegionCities({ id: 5332921 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          cities = GeoSearch::RegionsApi.new.list_region_cities(5332921).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $cities = (new GeoSearch\Api\RegionsApi(null, $cfg))->listRegionCities(5332921)->getData();
  /v1/cities:
    get:
      description: "Returns a paginated list of cities with optional filtering by\
        \ country, admin code, name, population, timezone, and elevation."
      operationId: listCities
      parameters:
      - $ref: "#/components/parameters/lang"
      - description: Filter by ISO alpha-2 country codes (comma-separated)
        example: "US,CA"
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Filter by admin1 code (state/province)
        example: CA
        explode: true
        in: query
        name: admin1
        required: false
        schema:
          type: string
        style: form
      - description: Filter by city name (trigram fuzzy search)
        example: San Fran
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - $ref: "#/components/parameters/population_min"
      - $ref: "#/components/parameters/population_max"
      - description: Filter by IANA timezone ID
        example: America/Los_Angeles
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          type: string
        style: form
      - description: Minimum elevation in meters
        example: 500
        explode: true
        in: query
        name: min_elevation
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum elevation in meters
        example: 3000
        explode: true
        in: query
        name: max_elevation
        required: false
        schema:
          type: integer
        style: form
      - $ref: "#/components/parameters/within"
      - $ref: "#/components/parameters/bbox"
      - $ref: "#/components/parameters/cursor"
      - $ref: "#/components/parameters/limit"
      - $ref: "#/components/parameters/fields"
      - description: "Sort field. Allowed: name, population, elevation, id."
        example: -population
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5391959
                  geoname_id: 5391959
                  name: San Francisco
                  ascii_name: San Francisco
                  country_code: US
                  admin1_code: CA
                  population: 873965
                  timezone: America/Los_Angeles
                  latitude: 37.77493
                  longitude: -122.41942
                meta:
                  next_cursor: eyJpZCI6NTM5MTk2MH0
                  has_next: true
                  has_prev: false
                  count: 25
              schema:
                $ref: "#/components/schemas/CityListResponse"
          description: List of cities
        "400":
          $ref: "#/components/responses/AreaBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/AreaQueryTimeout"
      summary: List cities
      tags:
      - Cities
      x-quota-cost:
        base: 1
        note: 2 with ?within=
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/cities?country=US&population_min=100000&limit=10"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          cities, _, err := client.CitiesAPI.ListCities(ctx).
              Country("US").PopulationMin(100000).Limit(10).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              cities = geosearch.CitiesApi(client).list_cities(
                  country="US", population_min=100000, limit=10).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, CitiesApi } from "@geosearch/client";

          const api = new CitiesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const cities = (await api.listCities({ country: "US", populationMin: 100000, limit: 10 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          cities = GeoSearch::CitiesApi.new.list_cities(country: "US", population_min: 100000, limit: 10).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $cities = (new GeoSearch\Api\CitiesApi(null, $cfg))->listCities(null, "US");
          // lang, country shown — the remaining 13 parameters are positional and optional
  /v1/cities/{id}:
    get:
      description: Returns a single city by its numeric ID.
      operationId: getCity
      parameters:
      - description: City ID
        example: 5391959
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/fields"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CitySingleResponse"
          description: City details
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Get city by ID
      tags:
      - Cities
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" https://geosearch.dev/v1/cities/5391959
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          city, _, err := client.CitiesAPI.GetCity(ctx, 5391959).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              city = geosearch.CitiesApi(client).get_city(5391959).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, CitiesApi } from "@geosearch/client";

          const api = new CitiesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const city = (await api.getCity({ id: 5391959 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          city = GeoSearch::CitiesApi.new.get_city(5391959).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $city = (new GeoSearch\Api\CitiesApi(null, $cfg))->getCity(5391959)->getData();
  /v1/postal-codes:
    get:
      description: Returns a paginated list of postal codes with optional filtering
        by country and code.
      operationId: listPostalCodes
      parameters:
      - $ref: "#/components/parameters/lang"
      - description: Filter by ISO alpha-2 country codes (comma-separated)
        example: US
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Filter by postal code
        example: "94105"
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - $ref: "#/components/parameters/within"
      - $ref: "#/components/parameters/bbox"
      - $ref: "#/components/parameters/cursor"
      - $ref: "#/components/parameters/limit"
      - $ref: "#/components/parameters/fields"
      - description: "Sort field. Allowed: postal_code, country_code, place_name,\
          \ id."
        example: postal_code
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostalCodeListResponse"
          description: List of postal codes
        "400":
          $ref: "#/components/responses/AreaBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/AreaQueryTimeout"
      summary: List postal codes
      tags:
      - Postal Codes
      x-quota-cost:
        base: 1
        note: 2 with ?within=
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/postal-codes?country=US&code=94105"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          codes, _, err := client.PostalCodesAPI.ListPostalCodes(ctx).
              Country("US").Code("94105").Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              codes = geosearch.PostalCodesApi(client).list_postal_codes(
                  country="US", code="94105").data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, PostalCodesApi } from "@geosearch/client";

          const api = new PostalCodesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const codes = (await api.listPostalCodes({ country: "US", code: "94105" })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          codes = GeoSearch::PostalCodesApi.new.list_postal_codes(country: "US", code: "94105").data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $codes = (new GeoSearch\Api\PostalCodesApi(null, $cfg))->listPostalCodes(null, "US", "94105");
          // lang, country, code shown — the remaining 6 parameters are positional and optional
  /v1/postal-codes/nearest:
    get:
      description: Returns the nearest postal codes to a given latitude/longitude
        using PostGIS spatial index.
      operationId: nearestPostalCode
      parameters:
      - $ref: "#/components/parameters/lang"
      - description: Latitude (-90 to 90)
        example: 37.7749
        explode: true
        in: query
        name: lat
        required: true
        schema:
          format: double
          maximum: 90
          minimum: -90
          type: number
        style: form
      - description: Longitude (-180 to 180)
        example: -122.4194
        explode: true
        in: query
        name: lon
        required: true
        schema:
          format: double
          maximum: 180
          minimum: -180
          type: number
        style: form
      - description: "Number of results (1-10, default 1)"
        example: 3
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1
          maximum: 10
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostalCodeListResponse"
          description: Nearest postal codes
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Find nearest postal codes
      tags:
      - Postal Codes
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/postal-codes/nearest?lat=37.7749&lon=-122.4194&limit=3"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          codes, _, err := client.PostalCodesAPI.NearestPostalCode(ctx).
              Lat(37.7749).Lon(-122.4194).Limit(3).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              codes = geosearch.PostalCodesApi(client).nearest_postal_code(
                  37.7749, -122.4194, limit=3).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, PostalCodesApi } from "@geosearch/client";

          const api = new PostalCodesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const codes = (await api.nearestPostalCode({ lat: 37.7749, lon: -122.4194, limit: 3 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          codes = GeoSearch::PostalCodesApi.new.nearest_postal_code(37.7749, -122.4194, limit: 3).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $codes = (new GeoSearch\Api\PostalCodesApi(null, $cfg))->nearestPostalCode(37.7749, -122.4194, null, 3);
          // lat, lon, lang, limit — the full positional parameter list
  /v1/timezones:
    get:
      description: Returns a paginated list of timezones with optional filtering by
        country.
      operationId: listTimezones
      parameters:
      - $ref: "#/components/parameters/lang"
      - description: Filter by ISO alpha-2 country code
        example: US
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - $ref: "#/components/parameters/cursor"
      - $ref: "#/components/parameters/limit"
      - $ref: "#/components/parameters/fields"
      - description: "Sort field. Allowed: timezone_id, gmt_offset, country_code."
        example: gmt_offset
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimezoneListResponse"
          description: List of timezones
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: List timezones
      tags:
      - Timezones
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/timezones?country=US"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          timezones, _, err := client.TimezonesAPI.ListTimezones(ctx).Country("US").Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              timezones = geosearch.TimezonesApi(client).list_timezones(country="US").data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, TimezonesApi } from "@geosearch/client";

          const api = new TimezonesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const timezones = (await api.listTimezones({ country: "US" })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          timezones = GeoSearch::TimezonesApi.new.list_timezones(country: "US").data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $timezones = (new GeoSearch\Api\TimezonesApi(null, $cfg))->listTimezones(null, "US");
          // lang, country shown — the remaining 4 parameters are positional and optional
  /v1/timezones/{tzId}:
    get:
      description: |
        Returns a single timezone by its IANA identifier.
        Note: IANA timezone IDs contain slashes (e.g., America/New_York),
        so the path uses a wildcard match.
      operationId: getTimezone
      parameters:
      - description: "IANA timezone ID (e.g., America/New_York)"
        example: America/New_York
        explode: false
        in: path
        name: tzId
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/fields"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimezoneSingleResponse"
          description: Timezone details
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Get timezone by IANA ID
      tags:
      - Timezones
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" https://geosearch.dev/v1/timezones/America/New_York
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          tz, _, err := client.TimezonesAPI.GetTimezone(ctx, "America/New_York").Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              tz = geosearch.TimezonesApi(client).get_timezone("America/New_York").data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, TimezonesApi } from "@geosearch/client";

          const api = new TimezonesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const tz = (await api.getTimezone({ tzId: "America/New_York" })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          tz = GeoSearch::TimezonesApi.new.get_timezone("America/New_York").data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $tz = (new GeoSearch\Api\TimezonesApi(null, $cfg))->getTimezone("America/New_York")->getData();
  /v1/countries/{code}/neighbors:
    get:
      description: Returns countries that share a border with the specified country.
      operationId: countryNeighbors
      parameters:
      - description: ISO alpha-2 country code
        example: DE
        explode: false
        in: path
        name: code
        required: true
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/fields"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryListResponse"
          description: List of neighboring countries
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: List neighboring countries
      tags:
      - Countries
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/countries/DE/neighbors"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          neighbors, _, err := client.CountriesAPI.CountryNeighbors(ctx, "DE").Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              neighbors = geosearch.CountriesApi(client).country_neighbors("DE").data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, CountriesApi } from "@geosearch/client";

          const api = new CountriesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const neighbors = (await api.countryNeighbors({ code: "DE" })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          neighbors = GeoSearch::CountriesApi.new.country_neighbors("DE").data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $neighbors = (new GeoSearch\Api\CountriesApi(null, $cfg))->countryNeighbors("DE")->getData();
  /v1/regions/{id}/children:
    get:
      description: Returns all cities that are direct children of the specified region
        in the administrative hierarchy.
      operationId: regionChildren
      parameters:
      - description: Region ID
        example: 5332921
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/fields"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CityListResponse"
          description: List of child cities
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: List child cities of a region
      tags:
      - Regions
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/regions/5332921/children"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          children, _, err := client.RegionsAPI.RegionChildren(ctx, 5332921).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              children = geosearch.RegionsApi(client).region_children(5332921).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, RegionsApi } from "@geosearch/client";

          const api = new RegionsApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const children = (await api.regionChildren({ id: 5332921 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          children = GeoSearch::RegionsApi.new.region_children(5332921).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $children = (new GeoSearch\Api\RegionsApi(null, $cfg))->regionChildren(5332921)->getData();
  /v1/cities/{id}/hierarchy:
    get:
      description: |
        Returns the full administrative hierarchy for a city, ordered from
        the city itself up through region, country, and continent.
      operationId: cityHierarchy
      parameters:
      - description: City ID
        example: 5391959
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/lang"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - geoname_id: 5391959
                  name: San Francisco
                  type: city
                  depth: 0
                - geoname_id: 5332921
                  name: California
                  type: region
                  depth: 1
                - geoname_id: 6252001
                  name: United States
                  type: country
                  depth: 2
                - geoname_id: 6255149
                  name: North America
                  type: continent
                  depth: 3
                meta:
                  count: 4
              schema:
                $ref: "#/components/schemas/HierarchyListResponse"
          description: Administrative hierarchy
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Get administrative hierarchy for a city
      tags:
      - Cities
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/cities/5391959/hierarchy"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          hierarchy, _, err := client.CitiesAPI.CityHierarchy(ctx, 5391959).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              hierarchy = geosearch.CitiesApi(client).city_hierarchy(5391959).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, CitiesApi } from "@geosearch/client";

          const api = new CitiesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const hierarchy = (await api.cityHierarchy({ id: 5391959 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          hierarchy = GeoSearch::CitiesApi.new.city_hierarchy(5391959).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $hierarchy = (new GeoSearch\Api\CitiesApi(null, $cfg))->cityHierarchy(5391959)->getData();
  /v1/batch/cities:
    post:
      description: Returns multiple cities in a single request. Maximum 50 IDs per
        request.
      operationId: batchCities
      parameters:
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/fields"
      requestBody:
        content:
          application/json:
            example:
              ids:
              - 5391959
              - 5128581
              - 4887398
            schema:
              $ref: "#/components/schemas/BatchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CityListResponse"
          description: Batch city results
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Batch lookup cities by IDs
      tags:
      - Batch
      x-quota-cost:
        base: 1
        note: per requested id
      x-codeSamples:
      - lang: curl
        source: |
          curl -X POST -H "X-API-Key: YOUR_KEY" \
            -H "Content-Type: application/json" \
            -d '{"ids": [5391959, 5128581]}' \
            "https://geosearch.dev/v1/batch/cities"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          cities, _, err := client.BatchAPI.BatchCities(ctx).
              BatchRequest(geosearch.BatchRequest{Ids: []int64{5391959, 5128581}}).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              cities = geosearch.BatchApi(client).batch_cities(
                  geosearch.BatchRequest(ids=[5391959, 5128581])).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, BatchApi } from "@geosearch/client";

          const api = new BatchApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const cities = (await api.batchCities({ batchRequest: { ids: [5391959, 5128581] } })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          cities = GeoSearch::BatchApi.new.batch_cities(
            GeoSearch::BatchRequest.new(ids: [5391959, 5128581])).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $request = new GeoSearch\Model\BatchRequest(["ids" => [5391959, 5128581]]);
          $cities = (new GeoSearch\Api\BatchApi(null, $cfg))->batchCities($request)->getData();
  /v1/batch/countries:
    post:
      description: Returns multiple countries in a single request. Maximum 50 IDs
        per request.
      operationId: batchCountries
      parameters:
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/fields"
      requestBody:
        content:
          application/json:
            example:
              ids:
              - 6252001
              - 2635167
              - 2921044
            schema:
              $ref: "#/components/schemas/BatchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryListResponse"
          description: Batch country results
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Batch lookup countries by IDs
      tags:
      - Batch
      x-quota-cost:
        base: 1
        note: per returned entity
      x-codeSamples:
      - lang: curl
        source: |
          curl -X POST -H "X-API-Key: YOUR_KEY" \
            -H "Content-Type: application/json" \
            -d '{"ids": [6252001, 2635167]}' \
            "https://geosearch.dev/v1/batch/countries"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          countries, _, err := client.BatchAPI.BatchCountries(ctx).
              BatchRequest(geosearch.BatchRequest{Ids: []int64{6252001, 2635167}}).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              countries = geosearch.BatchApi(client).batch_countries(
                  geosearch.BatchRequest(ids=[6252001, 2635167])).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, BatchApi } from "@geosearch/client";

          const api = new BatchApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const countries = (await api.batchCountries({ batchRequest: { ids: [6252001, 2635167] } })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          countries = GeoSearch::BatchApi.new.batch_countries(
            GeoSearch::BatchRequest.new(ids: [6252001, 2635167])).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $request = new GeoSearch\Model\BatchRequest(["ids" => [6252001, 2635167]]);
          $countries = (new GeoSearch\Api\BatchApi(null, $cfg))->batchCountries($request)->getData();
  /v1/batch/regions:
    post:
      description: Returns multiple regions in a single request. Maximum 50 IDs per
        request.
      operationId: batchRegions
      parameters:
      - $ref: "#/components/parameters/lang"
      - $ref: "#/components/parameters/fields"
      requestBody:
        content:
          application/json:
            example:
              ids:
              - 5332921
              - 5128638
              - 4862182
            schema:
              $ref: "#/components/schemas/BatchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionListResponse"
          description: Batch region results
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Batch lookup regions by IDs
      tags:
      - Batch
      x-quota-cost:
        base: 1
        note: per returned entity
      x-codeSamples:
      - lang: curl
        source: |
          curl -X POST -H "X-API-Key: YOUR_KEY" \
            -H "Content-Type: application/json" \
            -d '{"ids": [5332921, 5128638]}' \
            "https://geosearch.dev/v1/batch/regions"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          regions, _, err := client.BatchAPI.BatchRegions(ctx).
              BatchRequest(geosearch.BatchRequest{Ids: []int64{5332921, 5128638}}).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              regions = geosearch.BatchApi(client).batch_regions(
                  geosearch.BatchRequest(ids=[5332921, 5128638])).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, BatchApi } from "@geosearch/client";

          const api = new BatchApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const regions = (await api.batchRegions({ batchRequest: { ids: [5332921, 5128638] } })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          regions = GeoSearch::BatchApi.new.batch_regions(
            GeoSearch::BatchRequest.new(ids: [5332921, 5128638])).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $request = new GeoSearch\Model\BatchRequest(["ids" => [5332921, 5128638]]);
          $regions = (new GeoSearch\Api\BatchApi(null, $cfg))->batchRegions($request)->getData();
  /v1/autocomplete:
    get:
      description: |
        Returns autocomplete suggestions matching a query string across cities, regions, and countries.
        Results are ranked by relevance and population. Minimum 2 characters required.
      operationId: autocomplete
      parameters:
      - description: Search query (minimum 2 characters)
        example: San Fran
        explode: true
        in: query
        name: q
        required: true
        schema:
          minLength: 2
          type: string
        style: form
      - $ref: "#/components/parameters/lang"
      - description: "Maximum results to return (1-25, default 10)"
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 25
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/fields"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5391959
                  name: San Francisco
                  type: city
                  country_code: US
                  population: 873965
                meta:
                  count: 1
              schema:
                $ref: "#/components/schemas/AutocompleteListResponse"
          description: Autocomplete suggestions
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Autocomplete search
      tags:
      - Search
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/autocomplete?q=San+Fran&limit=10"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          suggestions, _, err := client.SearchAPI.Autocomplete(ctx).
              Q("San Fran").Limit(10).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              suggestions = geosearch.SearchApi(client).autocomplete("San Fran", limit=10).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, SearchApi } from "@geosearch/client";

          const api = new SearchApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const suggestions = (await api.autocomplete({ q: "San Fran", limit: 10 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          suggestions = GeoSearch::SearchApi.new.autocomplete("San Fran", limit: 10).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $suggestions = (new GeoSearch\Api\SearchApi(null, $cfg))->autocomplete("San Fran", null, 10)->getData();
          // q, lang, limit — fields is the one remaining optional parameter
  /v1/cities/nearby:
    get:
      description: |
        Returns cities near a given latitude/longitude within a specified radius.
        Results are ordered by distance. Uses PostGIS spatial index for fast lookups.
      operationId: nearbyCities
      parameters:
      - description: Latitude (-90 to 90)
        example: 37.7749
        explode: true
        in: query
        name: lat
        required: true
        schema:
          format: double
          maximum: 90
          minimum: -90
          type: number
        style: form
      - description: Longitude (-180 to 180)
        example: -122.4194
        explode: true
        in: query
        name: lon
        required: true
        schema:
          format: double
          maximum: 180
          minimum: -180
          type: number
        style: form
      - description: "Search radius in kilometers (default 50, max 200)"
        example: 50
        explode: true
        in: query
        name: radius
        required: false
        schema:
          default: 50
          format: double
          maximum: 200
          minimum: 0
          type: number
        style: form
      - description: "Maximum results to return (1-250, default 10)"
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/fields"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5391959
                  name: San Francisco
                  country_code: US
                  population: 873965
                  timezone: America/Los_Angeles
                  latitude: 37.77493
                  longitude: -122.41942
                  distance_km: 0.5
                meta:
                  count: 1
              schema:
                $ref: "#/components/schemas/NearbyCityListResponse"
          description: Nearby cities with distance
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Find nearby cities
      tags:
      - Cities
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/cities/nearby?lat=37.7749&lon=-122.4194&radius=50"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          cities, _, err := client.CitiesAPI.NearbyCities(ctx).
              Lat(37.7749).Lon(-122.4194).Radius(50).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              cities = geosearch.CitiesApi(client).nearby_cities(37.7749, -122.4194, radius=50).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, CitiesApi } from "@geosearch/client";

          const api = new CitiesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const cities = (await api.nearbyCities({ lat: 37.7749, lon: -122.4194, radius: 50 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          cities = GeoSearch::CitiesApi.new.nearby_cities(37.7749, -122.4194, radius: 50).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $cities = (new GeoSearch\Api\CitiesApi(null, $cfg))->nearbyCities(37.7749, -122.4194, 50)->getData();
  /v1/reverse:
    get:
      description: |
        Returns the nearest city for a given latitude/longitude.
        Uses PostGIS spatial index for fast reverse geocoding.
      operationId: reverseGeocode
      parameters:
      - description: Latitude (-90 to 90)
        example: 37.7749
        explode: true
        in: query
        name: lat
        required: true
        schema:
          format: double
          maximum: 90
          minimum: -90
          type: number
        style: form
      - description: Longitude (-180 to 180)
        example: -122.4194
        explode: true
        in: query
        name: lon
        required: true
        schema:
          format: double
          maximum: 180
          minimum: -180
          type: number
        style: form
      - $ref: "#/components/parameters/fields"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  city:
                    id: 5391959
                    name: San Francisco
                    country_code: US
                    population: 873965
                    timezone: America/Los_Angeles
                    latitude: 37.77493
                    longitude: -122.41942
                    distance_km: 0.3
                  distance_km: 0.3
              schema:
                $ref: "#/components/schemas/ReverseGeocodeSingleResponse"
          description: Reverse geocoding result
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
      summary: Reverse geocode coordinates
      tags:
      - Search
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/reverse?lat=37.7749&lon=-122.4194"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          nearest, _, err := client.SearchAPI.ReverseGeocode(ctx).
              Lat(37.7749).Lon(-122.4194).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              nearest = geosearch.SearchApi(client).reverse_geocode(37.7749, -122.4194).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, SearchApi } from "@geosearch/client";

          const api = new SearchApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const nearest = (await api.reverseGeocode({ lat: 37.7749, lon: -122.4194 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          nearest = GeoSearch::SearchApi.new.reverse_geocode(37.7749, -122.4194).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $nearest = (new GeoSearch\Api\SearchApi(null, $cfg))->reverseGeocode(37.7749, -122.4194)->getData();
  /v1/resolve:
    get:
      description: |
        Returns the administrative areas whose BOUNDARY POLYGONS CONTAIN the
        given coordinate, ordered country first.

        ## How this differs from `/v1/reverse`

        These two endpoints take the same parameters and answer different
        questions, and the difference is the reason both exist.

        `/v1/reverse` returns the NEAREST city. It always returns something, and
        for a point near a border that something is sometimes in the
        neighbouring country.

        `/v1/resolve` returns the areas that actually CONTAIN the point. It is
        never wrong about which country a point is in — and it sometimes returns
        nothing at all, because no polygon covers the point or because we hold no
        polygon for that country. Choose this endpoint when correctness at
        borders matters and choose `/v1/reverse` when you always need an answer.

        ## `depth` RUNS THE OPPOSITE DIRECTION FROM `/v1/cities/{id}/hierarchy`

        Read this before writing code that consumes both endpoints.

        Both return the same node SHAPE — `geoname_id`, `name`, `type`, `depth`
        — so one rendering path can accept either. The `depth` SEMANTICS are
        inverted between them:

        - On **this** endpoint `depth` is POSITIONAL, counting outward-in from
          the largest area: **`depth: 0` is the COUNTRY**, `depth: 1` is the
          region inside it, and so on.
        - On **`/v1/cities/{id}/hierarchy`** `depth` counts up from the entity
          that was asked about: `depth: 0` is the CITY, and the country is at the
          highest depth in the list.

        So `data[0]` is the country here and the city there. Code that sorts or
        indexes on `depth` across both endpoints without accounting for this will
        silently invert the hierarchy rather than fail.

        ## Cost and availability

        One quota unit, on every plan including Free. This is a single indexed
        point-in-polygon probe returning names, not a geometry transfer, so it
        carries no premium and no tier gate.

        `?fields=` IS NOT SUPPORTED on this endpoint and is ignored if sent.
        The four node fields are all small, so selection would save nothing.
      operationId: resolveCoordinate
      parameters:
      - description: "Latitude (-90 to 90). Must be a finite number: `NaN` and `Infinity`\
          \ are rejected with a 400 rather than being passed to the spatial index,\
          \ which would answer them with an ordinary \"not found\"."
        example: 37.7749
        explode: true
        in: query
        name: lat
        required: true
        schema:
          format: double
          maximum: 90
          minimum: -90
          type: number
        style: form
      - description: Longitude (-180 to 180). Must be a finite number; see `lat`.
        example: -122.4194
        explode: true
        in: query
        name: lon
        required: true
        schema:
          format: double
          maximum: 180
          minimum: -180
          type: number
        style: form
      - $ref: "#/components/parameters/lang"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - geoname_id: 6252001
                  name: United States
                  type: country
                  depth: 0
                - geoname_id: 5332921
                  name: California
                  type: region
                  depth: 1
                meta:
                  count: 2
              schema:
                $ref: "#/components/schemas/HierarchyListResponse"
          description: |-
            The administrative chain covering the coordinate, country first.

            A ONE-ELEMENT RESPONSE IS A NORMAL SUCCESS, not a degraded answer: 3.8% of the corpus resolves to a country with no covering region. Do not treat a short chain as an error.
        "400":
          content:
            application/json:
              example:
                error:
                  code: bad_request
                  message: lat must be between -90 and 90
                  request_id: req_abc123
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            A missing, unparseable, non-finite or out-of-range `lat` or `lon`.

            NOTE THE STATUS. Parameter failures on THIS endpoint are 400 `bad_request`, mirroring `/v1/reverse`, whose parameter contract this endpoint deliberately copies so that the generated SDK method reads `resolve(lat, lon)` beside `reverse(lat, lon)`. That is a different convention from `?simplify=` on `/v1/boundaries/{geoname_id}`, which is a 422 `validation_error` with per-field `error.details`. The two are separate conventions on purpose, not an inconsistency to be harmonised away — treat them as two shapes when writing a client.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ResolveNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ResolveQueryTimeout"
      summary: Resolve coordinates to their containing administrative areas
      tags:
      - Search
      x-quota-cost:
        base: 1
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/resolve?lat=37.7749&lon=-122.4194"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          areas, _, err := client.SearchAPI.ResolveCoordinate(ctx).
              Lat(37.7749).Lon(-122.4194).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              areas = geosearch.SearchApi(client).resolve_coordinate(37.7749, -122.4194).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, SearchApi } from "@geosearch/client";

          const api = new SearchApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const areas = (await api.resolveCoordinate({ lat: 37.7749, lon: -122.4194 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          areas = GeoSearch::SearchApi.new.resolve_coordinate(37.7749, -122.4194).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $areas = (new GeoSearch\Api\SearchApi(null, $cfg))->resolveCoordinate(37.7749, -122.4194)->getData();
  /v1/boundaries/{geoname_id}:
    get:
      description: |
        Returns the boundary polygon for one country or region as a bare GeoJSON
        geometry.

        ## COSTS 5 QUOTA UNITS

        This endpoint charges five units against the monthly quota, not one. The
        premium is priced on PAYLOAD rather than on query time: country GeoJSON
        averages 62.6 KB and reaches 1.9 MB, and region GeoJSON reaches 2.8 MB —
        two to three orders of magnitude above an ordinary list response.

        `?simplify=` does NOT reduce the cost. It trades server CPU for client
        bytes (simplification measures 209–248 ms against 10.3 ms for the plain
        fetch), so the route is expensive to serve either way.

        REJECTIONS COST ONE UNIT, NOT FIVE. A 400, a 422, either 404 and the 403
        below all charge the standard single unit, so probing which ids are
        fetchable — and bouncing off the paywall — is not billed at the premium
        rate. Only a request that actually reaches the polygon fetch is charged
        five, including one that reaches it and then times out.

        ## Plan requirements

        REGION boundaries require a paid plan. COUNTRY boundaries are available
        on every plan, including Free. A Free key requesting a region boundary
        receives a 403 `tier_upgrade_required` carrying an upgrade link — a
        visible refusal, not a silent omission.

        This is the same split the `geometry` field follows on the country and
        region endpoints, with one deliberate difference: there the field is
        simply absent from a 200, while here the refusal is explicit and tells
        you what to do about it.

        ## Response shape

        `data.geometry` is a BARE GeoJSON geometry — the `{"type": ...,
        "coordinates": ...}` object — and NOT a GeoJSON `Feature`. There is no
        `properties` wrapper; the three sibling fields carry that information.
        This matches the geometry `/v1/countries/{code}` and `/v1/regions/{id}`
        already return.

        `type` is `Polygon` OR `MultiPolygon`. Do not pin it: applying
        `?simplify=` can collapse a MultiPolygon into a Polygon for areas whose
        smaller parts disappear at the requested tolerance.

        `?fields=` IS NOT SUPPORTED on this endpoint and is ignored if sent.
        Field selection here works by serialising the whole object and then
        dropping keys, so `?fields=name` on a 1.9 MB polygon would build the
        polygon in full and discard it — strictly more expensive than not
        sending the parameter. Callers who want only the name should use
        `/v1/countries/{code}` or `/v1/regions/{id}`.
      operationId: getBoundary
      parameters:
      - description: "GeoNames id of a country or a region. A city id — or any id\
          \ that does not name an area — is a 404 `area_not_an_area`, not a 400."
        example: 6252001
        explode: false
        in: path
        name: geoname_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: |-
          Douglas-Peucker tolerance in EPSG:4326 DEGREES, applied before the polygon is serialised. Omit it for full precision.

          DEGREES, NOT METRES. The upper bound of 10 is roughly 1,100 km, chosen to make the unit obviously wrong to anyone who typed a value in metres. Simplification stops changing the shape above about 1 degree, so values beyond that buy nothing.

          `0` is accepted and is a no-op: the response reports `simplify: null`, because no tolerance was actually applied.

          A negative, non-finite or out-of-range value is a 422, never a 500.

          SUPPLY IT AT MOST ONCE. `?simplify=0.01&simplify=0.5` is a 422 rather than a request served with one of the two values silently dropped: two tolerances are two conflicting instructions, and the server does not guess which was meant.
        example: 0.01
        explode: true
        in: query
        name: simplify
        required: false
        schema:
          format: double
          maximum: 10
          minimum: 0
          type: number
        style: form
      - $ref: "#/components/parameters/lang"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  geoname_id: 6252001
                  name: United States
                  type: country
                  geometry:
                    type: MultiPolygon
                    coordinates:
                    - - - - -124.7
                          - 48.4
                        - - -124.6
                          - 48.4
                        - - -124.6
                          - 48.3
                        - - -124.7
                          - 48.4
                  simplify: null
              schema:
                $ref: "#/components/schemas/BoundarySingleResponse"
          description: The area's boundary polygon.
        "400":
          content:
            application/json:
              example:
                error:
                  code: bad_request
                  message: invalid boundary geoname_id
                  request_id: req_abc123
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "The path segment is not an integer. A malformed id is a 400\
            \ rather than a 404, so a typo is distinguishable from a coverage gap."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/TierUpgradeRequired"
        "404":
          $ref: "#/components/responses/BoundaryNotFound"
        "422":
          content:
            application/json:
              example:
                error:
                  code: validation_error
                  message: Validation failed
                  details:
                  - field: simplify
                    issue: "must not be negative; a tolerance is a distance, and PostGIS\
                      \ refuses a negative one"
                  request_id: req_abc123
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |-
            `simplify` was malformed. `error.details` names the field and what was wrong with it.

            A 422 HERE, WHERE `/v1/resolve` USES 400 FOR ITS COORDINATES. That is deliberate: this is a shape failure decidable from the request text alone and it has a field name to report, which is this API's 422 convention. The two endpoints follow two conventions; see the 400 on `/v1/resolve`.
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/BoundaryQueryTimeout"
      summary: Fetch an area's boundary polygon as GeoJSON
      tags:
      - Boundaries
      x-quota-cost:
        base: 5
      x-codeSamples:
      - lang: curl
        source: |
          curl -H "X-API-Key: YOUR_KEY" \
            "https://geosearch.dev/v1/boundaries/6252001?simplify=0.01"
      - lang: Go
        source: |
          // go get github.com/geosearch-dev/geosearch-go
          client := geosearch.NewAPIClient(geosearch.NewConfiguration())
          ctx := context.WithValue(context.Background(), geosearch.ContextAPIKeys,
              map[string]geosearch.APIKey{"apiKeyAuth": {Key: "YOUR_KEY"}})
          boundary, _, err := client.BoundariesAPI.GetBoundary(ctx, 6252001).
              Simplify(0.01).Execute()
      - lang: Python
        source: |
          # pip install git+https://github.com/geosearch-dev/geosearch-python.git
          import geosearch

          cfg = geosearch.Configuration(api_key={"apiKeyAuth": "YOUR_KEY"})
          with geosearch.ApiClient(cfg) as client:
              boundary = geosearch.BoundariesApi(client).get_boundary(6252001, simplify=0.01).data
      - lang: TypeScript
        source: |
          // npm install github:geosearch-dev/geosearch-typescript
          import { Configuration, BoundariesApi } from "@geosearch/client";

          const api = new BoundariesApi(new Configuration({ apiKey: "YOUR_KEY" }));
          const boundary = (await api.getBoundary({ geonameId: 6252001, simplify: 0.01 })).data;
      - lang: Ruby
        source: |
          # gem 'geosearch', git: 'https://github.com/geosearch-dev/geosearch-ruby.git'
          require "geosearch"

          GeoSearch.configure { |c| c.api_key["X-API-Key"] = "YOUR_KEY" }
          boundary = GeoSearch::BoundariesApi.new.get_boundary(6252001, simplify: 0.01).data
      - lang: PHP
        source: |
          // composer config repositories.geosearch vcs https://github.com/geosearch-dev/geosearch-php.git
          // composer require geosearch-dev/geosearch-php
          $cfg = GeoSearch\Configuration::getDefaultConfiguration()
              ->setApiKey("X-API-Key", "YOUR_KEY");
          $boundary = (new GeoSearch\Api\BoundariesApi(null, $cfg))->getBoundary(6252001, 0.01)->getData();
  /v1/search:
    get:
      description: |
        Performs a fuzzy text search across countries, regions, and cities using trigram matching.
        Results are ranked by relevance and population. Uses simple limit pagination (no cursor).
      operationId: search
      parameters:
      - $ref: "#/components/parameters/lang"
      - description: Search query (minimum 2 characters)
        example: San Fran
        explode: true
        in: query
        name: q
        required: true
        schema:
          minLength: 2
          type: string
        style: form
[...]
